* {
	font-family: 'Comfortaa', 'open sans', 'lato', 'helvetica', sans-serif;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	overflow: hidden;
}

body {
	min-width: 800px;
	width: auto !important;
	width: 800px;
}

section {
	margin: 20% 0;
}

/* Page */
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 5% 0;
	transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
	-webkit-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
	-moz-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
	-o-transition: all .8s cubic-bezier(0.54, 0.35, 0.29, 0.99);
	color: rgb(255, 255, 255);
}

#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8 {
	left: 190%;
}

#p1 {
	background: rgb(16, 16, 24);
}

#p2 {
	background: rgb(9, 39, 78);
}

#p3 {
	background: rgb(15, 42, 56);
}

#p4 {
	background: rgb(51, 58, 87);
}

#p5 {
	background: rgb(14, 47, 66);
}

#p6 {
	background: rgb(28, 30, 51);
}

#p7 {
	background: rgb(3, 9, 23);
}

#p8 {
	background: rgb(20, 33, 51);
}

/* Transitions */
#about-me:target #p2,
#art:target #p3,
#books:target #p4,
#technology:target #p5,
#projects:target #p6,
#music:target #p7,
#contact:target #p8 {
	transform: translateX(-190%);
	-webkit-transform: translateX(-190%);
	-moz-transform: translateX(-190%);
	-o-transform: translateX(-190%);
	transition-delay: .4s !important;
}

#about-me:target #p1 #home,
#art:target #p1 #home,
#books:target #p1 #home,
#technology:target #p1 #home,
#projects:target #p1 #home,
#music:target #p1 #home,
#contact:target #p1 #home {
	filter: blur(10px)
}

.icon {
	color: rgb(255, 255, 255);
	font-size: 30px;
	display: block;
}

ul .icon:hover {
	opacity: 0.5;
}

.page .icon .title {
	line-height: 2;
}

#about-me:target ul .icon,
#art:target ul .icon,
#books:target ul .icon,
#technology:target ul .icon,
#projects:target ul .icon,
#music:target ul .icon,
#contact:target ul .icon {
	transform: scale(.6);
	-webkit-transform: scale(.6);
	-moz-transform: scale(.6);
	-o-transform: scale(.6);
	transition-delay: .25s;
}

#about-me:target #two,
#art:target #three,
#books:target #four,
#technology:target #five,
#projects:target #six,
#music:target #seven,
#contact:target #eight {
	transform: scale(1.5) !important;
	-webkit-transform: scale(1.5) !important;
	-moz-transform: scale(1.5) !important;
	-o-transform: scale(1.5) !important;
}

/* Logo */
#page-logo {
	color: rgb(255, 255, 255);
	font-weight: bold;
}

#page-logo {
	font-size: 20px;
	display: block;
	padding: 30px 0 100px 0;
}

/* Menu */
#menu {
	z-index: 1;
	left: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	position: fixed;
	height: 100%;
	overflow: auto;
	text-align: center;
	background: rgb(0, 0, 0);
}

#menu a {
	display: block;
	padding: 3%;
	text-decoration: none;
}

#menu .icon {
	margin: 10px 0;
	transition: all .5s ease-out !important;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
}

#menu a li {
	padding: 3%;
}

a {
	text-decoration: none;
}

.page .icon {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 10%;
	left: 0;
	width: 270px;
	height: 170px;
	margin: auto;
	text-align: center;
	font-size: 80px;
	line-height: 1.3;
	transform: translateX(360%);
	-webkit-transform: translateX(360%);
	-moz-transform: translateX(360%);
	-o-transform: translateX(360%);
	transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
	-webkit-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
	-moz-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
	-o-transition: all .5s cubic-bezier(.25, 1, .5, 1.25);
}

.page#p1 .icon {
	height: 220px;
}

.page#p1 .icon {
	transform: translateX(10%) !important;
}

#about-me:target .page#p2 .icon,
#art:target .page#p3 .icon,
#books:target .page#p4 .icon,
#technology:target .page#p5 .icon,
#projects:target .page#p6 .icon,
#music:target .page#p7 .icon,
#contact:target .page#p8 .icon {
	transform: translateX(0) !important;
	-webkit-transform: translateX(0) !important;
	-moz-transform: translateX(0) !important;
	-o-transform: translateX(0) !important;
	transition-delay: 1s;
}

/* Section */

article {
	font-size: 1.5rem;
	line-height: 1.4;
	color: rgb(255, 255, 255);
	height: 85%;
	padding: 0 5%;
	overflow: scroll;
	margin: 0 0 0 200px;
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
article::-webkit-scrollbar {
	display: none;
}

article p {
	padding: 2rem;
	font-size: 1.5rem;
	line-height: 1.4;
	text-align: justify;
}

h2 {
	font-size: 50px;
	font-weight: 600;
	width: 560px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 1% 0;
	color: rgb(255, 255, 255);

}

h3 {
	font-size: 25px;
	font-weight: 600;
	width: 300px;
	padding: 3%;
	color: rgb(255, 255, 255);
	margin: 30px auto;
	display: flex;
	justify-content: center;
}

h4 {
	width: 300px;
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

/* Home */
#home {
	display: flex;
}

#home h1 {
	font-size: 3rem;
	font-weight: 400;
	margin: 10% auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
}

/* Center the quote container in the page */
#quote-container {
	display: flex;
	flex-direction: column;
	/* Stack text vertically */
	justify-content: center;
	/* Vertical centering inside container */
	align-items: center;
	/* Horizontal centering inside container */
	text-align: center;
	min-height: 60vh;
	/* Takes at least 60% of viewport height */
	margin: 0 auto;
	padding: 20px;
}

#quote-text {
	font-size: 1.8em;
	/* Larger text for landing page */
	font-style: italic;
	margin-bottom: 10px;
}

#quote-author {
	font-size: 1.2em;
	color: #555;
}

#quote-text,
#quote-author {
	display: inline-block;
	transition: opacity 0.7s ease, transform 0.7s ease;
}

/* About Me */
.image-container {
	display: flex;
	width: 500px;
	margin: 0 auto;
}

.image-container figure {
	padding: 1.11rem;
	margin: 0 5rem;
}

.photo {
	width: 300px;
	height: 300px;
	border-radius: 25%;
	opacity: 0.8;
}

.photo-caption {
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 15px;
	width: 255px;
	margin: 0 auto;
}

code {
	padding: 0 5px;
	color: rgb(78, 210, 247);
	font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
	font-size: 1.5rem;
}

i {
	color: rgb(78, 210, 247);
	font-size: 1.5rem;
}

/* Art */

#coloring-book {
	text-decoration: none;
	width: 130px;
	display: flex;
	margin: 0 auto;
}

#coloring-book .cover {
	display: flex;
	width: 200px;
	margin: 0 auto;
}

#coloring-book .title {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	color: rgb(255, 255, 255);
}

/* Books */

#books li {
	display: inline-block;
	padding: 1%;
	width: 150px;
}

#books a {
	text-decoration: none;
}

#books .cover {
	display: flex;
	width: 100px;
	margin: 0 auto;
}

#books .title {
	width: 100px;
	margin: 0 auto;
	padding: 15px;
	font-size: 12px;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

/* Technology */

h6 {
	margin: 2% 0;
}

.single-gist {
	margin-bottom: 20%;
}

.single-gist a {
	color: rgb(0, 191, 255);
}

.gist-data {
	height: 20rem;
}

.project-title {
	width: 220px;
	margin: 20px auto;
}

.project-screenshot {
	width: 800px;
	height: 450px;
	border-radius: 2%;
}

#project-memory-game-figure-wrapper {
	margin: 0 auto;
	width: 800px;
}

#project-link-section {
	width: 150px;
	margin: 0 auto;
}

#project-link-section ul li {
	margin: 15px;
}

#project-link-section ul li,
#project-link-section #logo img {
	width: 35px;
}

#project-link-section #logo .tooltip {
	bottom: -90%;
}

#article-nav {
	margin: 0 auto;
	width: 100px;
	font-size: 0.9rem;
}

#sources-list {
	width: 220px;
	margin: 0 auto;
	list-style: inside;
}

#sources-list li {
	width: 260px;
	display: list-item;
}

#technology li a {
	text-decoration: none;
	color: rgb(25, 169, 247);
	font-size: 1rem;
}

#gists span {
	font-size: 0.9rem;
}

#logo-list {
	list-style: none;
	margin: 0 auto;
	background-color: rgb(232, 232, 232, 0.9);
	width: 565px;
	padding: 5%;
}

#logo-list li {
	display: inline-block;
	padding: 1%;
	width: 63px;
}

#logo {
	position: relative;
}

#logo img {
	width: 60px;
}

#logo .tooltip {
	visibility: hidden;
	width: 120px;
	background-color: rgba(0, 0, 0, 0.5);
	color: rgb(255, 255, 255);
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	cursor: pointer;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	bottom: -11%;
	/* place tooltip at base of the logo */
	left: 50%;
	margin-left: -60px;
	font-size: 12px;
}

#logo:hover .tooltip {
	visibility: visible;
}

/* Music */

#playlist {
	display: flex;
	align-content: center;
	text-decoration: none;
	width: 225px;
	margin: 0 auto;
}

#playlist figure,
#playlist figure img {
	width: 200px;
}

#playlist figure img {
	display: flex;
	border-radius: 50%;
}

#playlist figure {
	margin: 0 auto;
	padding: 5%;
}

#playlist figure figcaption {
	width: 102px;
	margin: 6% auto;
	font-weight: bold;
	font-size: 1rem;
	color: rgb(255, 255, 255);
}

/* Contact */

#contact #email {
	display: flex;
	margin: 0 auto;
	width: fit-content;
	padding: 2%;
}

#contact-p1 {
	width: fit-content;
	margin: auto;
	padding: 5% 0 1%;
}

#contact-p2 {
	width: fit-content;
	margin: auto;
	padding: 0 0 5%;
}

#email img {
	width: 30px;
	padding: 0 5px 0 0;
}

#email .address {
	display: inline-block;
	font-size: 25px;
	line-height: 30px;
}

#social-media img {
	width: 50px;
	height: 50px;
}

#social-media img:active,
#social-media img:focus,
#social-media img:hover {
	filter: grayscale(80%)
}

#contact-options {
	width: 250px;
	margin: 0 auto;
}

#contact-options li {
	display: inline-table;
	margin: 10px auto;
	width: 50px;
	height: 50px;
}

.git-logo,
.linkedin-logo,
.amazon-web-store-logo {
	margin: 10px;
}

/* Page Footer */
#page-footer {
	position: fixed;
	width: 200px;
	bottom: 0;
	height: 20px;
	margin: 0 auto;
	left: 50%;
}

#page-footer i {
	display: block;
	font-size: 16px;
	color: rgb(255, 255, 255);
	text-align: center;
	height: inherit;
}

/* Media Queries */

/* 
   Galaxy S10/S10+ Android 11,
   Galaxy S20/S20+ Android 11,
   iPhone 12/13+ Pro iOS 14.6, 
   iPhone 12/13 mini iOS 14.6, 
   iPhone SE 2nd gen iOS 14.6 
*/
@media screen and (max-width: 399px) {
	body {
		min-width: 360px;
		width: auto !important;
		width: 360px;
	}

	article {
		height: 60%;
		position: relative;
		margin: 4% auto;
	}

	article p {
		font-size: 0.7rem;
		padding: 1rem;
	}

	h2 {
		width: 225px;
		font-size: 20px;
	}

	h3 {
		font-size: 15px;
		width: 200px;
		padding: 0 5%;
	}

	h4 {
		font-size: 1rem;
		margin: 10% 0;
	}

	h6 {
		font-size: 0.8rem;
	}

	.page {
		position: fixed;
		width: 100%;
		overflow: scroll;
	}

	.project-title {
		width: 155px;
		font-size: 14px;
	}

	.project-screenshot {
		width: 275px;
		height: 150px;
	}


	.git-logo,
	.linkedin-logo,
	.amazon-web-store-logo {
		margin: unset;
	}

	#menu {
		width: 80%;
		height: 20%;
		padding: 4% 10% 8%;
		position: fixed;
		overflow: inherit;
	}

	#menu a {
		float: left;
		text-decoration: none;
		padding: 3%;
		width: 54px;
		display: block;
	}

	#menu #one,
	#menu #two,
	#menu #three,
	#menu #four,
	#menu #five,
	#menu #six,
	#menu #seven,
	#menu #eight {
		width: 10%;
	}

	#menu .icon {
		font-size: 25px;
	}

	#page-logo {
		font-size: 17px;
		padding: 5px;
		width: 105px;
		height: 20px;
		margin: 0 auto;
	}

	#p1 {
		left: 0;
	}

	#p2,
	#p3,
	#p4,
	#p5,
	#p6,
	#p7,
	#p8 {
		left: 190%;
	}

	#p1,
	#p2,
	#p3,
	#p4,
	#p5,
	#p6,
	#p7,
	#p8 {
		top: 23%;
	}

	#home h1 {
		font-size: 3rem;
		margin: auto;
		height: 2rem;
	}

	#quote-text,
	#quote-author {
		font-size: 0.8em;
	}

	#about-me .image-container {
		width: 180px;
		margin: 0 auto;
	}

	#about-me .image-container figure {
		padding: 1rem;
		margin: 0;
	}

	#about-me .photo {
		width: 150px;
		height: 150px;
	}

	#about-me .photo-caption {
		font-size: 10px;
		width: 110px;
		text-align: center;
	}

	#about-me .code-snippet,
	#art p i {
		font-size: 0.7rem;
	}

	#coloring-book {
		width: 85px;
	}

	#p4 #books ul {
		margin: 10% auto;
		width: 240px;
	}

	#books li {
		width: 55px;
		padding: 0 4%;
	}

	#books .cover {
		width: 55px;
	}

	#books .title {
		width: 55px;
		font-size: 9px;
	}

	#technology #logo-list {
		padding: 1.5rem;
		width: 175px;
		border-radius: 0;
	}

	#logo .tooltip {
		display: none;

	}

	#logo-list li,
	#logo-list li img {
		width: 40px;
		padding: 3%;
	}

	#sources-list,
	#sources-list li {
		width: 12rem;
		margin: 5% auto;
		line-height: 0.3rem;
	}

	#technology li a {
		font-size: 0.7rem;
	}

	#playlist figure,
	#playlist figure img {
		width: 130px;
	}

	#contact-options {
		width: 150px;
		margin: 20px auto;
	}

	#contact-options li {
		margin: 0 auto;
		width: 30px;
		height: 30px;
	}

	#social-media img {
		width: 30px;
		height: 30px;
	}

	#email .address {
		font-size: 13px;
	}

	#project-memory-game-figure-wrapper {
		width: 270px;
	}

	#project-link-section {
		width: 116px;
	}

	#project-link-section ul li {
		margin: 10px;
	}

	#project-link-section ul li,
	#project-link-section #logo img {
		width: 25px;
	}

	/* Page Footer */
	#page-footer {
		width: 100%;
		margin: 0 auto;
		left: unset;
	}
}

/*  
	Galaxy Note 20 Android 11,
	Galaxy Note 20 Ultra Android 11,
	Galaxy S20 Ultra Android 11,
	iPhone 11 Pro iOS 14.6,
	iPhone 11 Pro Max iOS 14.6,
	iPhone 12/13 Pro Max iOS 14.6 
*/
@media screen and (min-width: 400px) and (max-width: 799px) {
	body {
		min-width: 400px;
		width: auto !important;
		width: 400px;
	}

	article {
		height: 60%;
		position: relative;
		margin: 7% auto;
	}

	article p {
		font-size: 0.7rem;
		padding: 1rem;
	}

	h2 {
		font-size: 25px;
		width: fit-content;
	}

	h3 {
		font-size: 15px;
		width: 200px;
		padding: 0 5%;
	}

	h4 {
		font-size: 1rem;
		margin: 10% 5%;
	}

	h6 {
		font-size: 0.8rem;
	}

	.page {
		position: fixed;
		width: 100%;
		overflow: scroll;
	}

	.project-title {
		width: 155px;
		font-size: 14px;
	}

	.project-screenshot {
		width: 300px;
		height: 150px;
	}

	#menu {
		width: 80%;
		height: 20%;
		min-height: 150px;
		padding: 4% 10% 8%;
		position: fixed;
		overflow: inherit;
	}

	#menu a {
		display: block;
		padding: 3%;
		float: left;
		text-decoration: none;
		width: 60px;
		margin: 0 auto;
	}

	#menu #one,
	#menu #two,
	#menu #three,
	#menu #four,
	#menu #five,
	#menu #six,
	#menu #seven,
	#menu #eight {
		width: 40px;
	}

	#menu .icon {
		font-size: 25px;
	}

	#page-logo {
		padding: 5px;
		width: 105px;
		height: 20px;
		margin: 0 auto;
	}

	#p1 {
		left: 0;
	}

	#p2,
	#p3,
	#p4,
	#p5,
	#p6,
	#p7,
	#p8 {
		left: 190%;
	}

	#p1,
	#p2,
	#p3,
	#p4,
	#p5,
	#p6,
	#p7,
	#p8 {
		top: 25%;
	}

	#home h1 {
		font-size: 3rem;
		margin: auto;
		height: 2rem;
	}

	#quote-text,
	#quote-author {
		font-size: 0.8em;
	}

	#about-me .image-container {
		width: 180px;
		margin: 0 auto;
	}

	#about-me .image-container figure {
		padding: 1rem;
		margin: 0;
	}

	#about-me .photo {
		width: 150px;
		height: 150px;
	}

	#about-me .photo-caption {
		font-size: 10px;
		width: 110px;
		text-align: center;
	}

	#about-me code,
	#art p i {
		font-size: 0.7rem;
	}

	#p4 #books ul {
		margin: 10% auto;
		width: 200px;
	}

	#books li {
		width: 90px;
	}

	#books .cover {
		width: 70px;
	}

	#books .title {
		width: 69px;
		font-size: 9px;
	}

	#technology #logo-list {
		padding: 1.5rem;
		width: 175px;
		border-radius: 0;
	}

	#logo .tooltip {
		display: none;

	}

	#logo-list li,
	#logo-list li img {
		width: 40px;
		padding: 3%;
	}

	#sources-list,
	#sources-list li {
		width: 12rem;
		margin: 5% auto;
		line-height: 0.3rem;
	}

	#technology li a {
		font-size: 0.7rem;
	}

	#project-memory-game-figure-wrapper {
		width: 300px;
	}

	#project-link-section {
		width: 125px;
	}

	#project-link-section ul li,
	#project-link-section #logo img {
		width: 25px;
	}

	#contact-options {
		width: 210px;
	}

	#contact-options li {
		width: 60px;
	}

	#social-media img {
		width: 40px;
		height: 40px;
	}

	/* Page Footer */
	#page-footer {
		width: 100%;
		margin: 0 auto;
		left: unset;
	}
}

/*
   Kindle Fire HDX Linux 800 x 1280 and
   iPad iPadOS 14.7.1 810 x 1080 
*/
@media screen and (min-width: 800px) and (max-width: 810px) {
	body {
		min-width: 800px;
		width: auto !important;
		width: 800px;
	}

	article {
		width: 75%;
		height: 80%;
		padding: 10% 10%;
		margin: unset;
	}

	article p {
		padding: 1rem;
		font-size: 1rem;
	}

	h2 {
		font-size: 30px;
		width: auto;
	}

	h3 {
		font-size: 23px;
	}

	.page {
		width: 80%;
		position: fixed;
	}

	.project-title {
		width: 145px;
		margin: 20px auto;
		font-size: 13px;
	}

	.project-screenshot {
		width: 450px;
		height: 250px;
	}

	#menu {
		width: 25%;
		overflow: hidden;
	}

	#home {
		padding: 0 7rem;
		width: 380px;
		margin: 0 auto;
	}

	#quote-text,
	#quote-author {
		font-size: 1em;
	}

	#p1 {
		left: 200px;
	}

	#p2,
	#p3,
	#p4,
	#p5,
	#p6,
	#p7,
	#p8 {
		left: 177%;
	}

	#about-me .code-snippet,
	#art p i {
		font-size: 1rem;
	}

	#about-me .photo {
		width: 200px;
		height: 200px;

	}

	#about-me .photo-caption {
		font-size: 12px;
		width: 202px;
	}

	#about-me .image-container {
		width: 480px;
	}

	#about-me .image-container figure {
		width: 202px;
		margin: 0 auto;
	}

	#logo-list {
		width: 300px;
	}

	#sources-list li {
		width: 260px;
	}

	#technology li a {
		font-size: 1rem;
	}

	#technology h4 {
		font-size: 1.3rem;
		margin: 10% auto;
	}

	#project-memory-game-figure-wrapper {
		width: 450px;
	}

	/* Page Footer */
	#page-footer {
		position: fixed;
		width: 80%;
		bottom: 10px;
		left: 200px;
		margin: 0 auto;
	}

	#page-footer i {
		display: block;
		font-size: 16px;
		color: rgb(255, 255, 255);
		margin: 0 auto;
		text-align: center;
	}
}