* {
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive, Verdana, sans-serif;
	font-size: 12px;
}

/* Header */
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4.44rem;
	padding: 0 10%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
	font-size: .77rem;
	font-weight: bold;
	position: fixed;
	width: 85%;
}

.header .logo {
	flex-grow: 1;
	color:rgb(86, 128, 233);
}

.header li {
	display: inline;
	padding-right: 2.22rem;
}

.header li a,
.header .logo a,
#playlist {
	text-decoration: none;
	color:rgb(86, 128, 233);
}

/* Section */
section {
	padding: 10%;
	padding-bottom: 2.77rem;
	font-size: 1.5rem;
	line-height: 1.4;
	color:rgb(86, 128, 233);
	height: auto;
}

section p {
	padding: 2rem;
	font-size: 1.5rem;
	line-height: 1.4;
}

h2 {
	font-size: 35px;
	font-weight: 600;
	width: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 1% 0;
	color:rgb(86, 128, 233);
}

h3 {
	font-size: 18px;
	font-weight: 600;
	width: 300px;
	padding: 1%;
	color:rgb(86, 128, 233);
}

/* Welcome */
#welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50rem;
	background-size: cover;
	background-image: linear-gradient(rgb(136, 96, 208), rgb(193, 200, 228),  rgb(132, 206, 235), rgb(86, 128, 233)) ;
	color: #FFFFFF;
	padding: 10% 0 0 0;
}

#welcome h1 {
	font-size: 8rem;
	font-weight: 400;
}

/* Books */
#books li {
	display: inline-block;
	padding: 10px;
	width: 150px;
	height: 200px;
}

#books a {
	text-decoration: none;
}

#books .cover {
	display: flex;
	width: 100px;
	margin: 0 auto;
}

#books .title {
	width: 150px;
	margin: 0 auto;
	padding: 15px;
	font-size: smaller;
	font-weight: bold;
	color: rgb(86, 128, 233)
}

/* Art */
#coloring-book {
	text-decoration: none;
}

#coloring-book .cover {
	display: flex;
	width: 200px;
	margin: 0 auto;
}

#coloring-book .title {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
	color: rgb(86, 128, 233)
}

/* Music */
#playlist figure,
#playlist figure img {
	width: 300px;
}

#playlist figure img {
	display: flex;
	border-radius: 50%;
}

#playlist figure {
	margin: 0 auto;
}

#playlist figure figcaption {
	width: 100px;
	margin: 6% auto;
	font-weight: bold;
}

/* Technology */
#repository p {
	display: inline-block;
	padding: 10px;
	margin: 1%;
}

#repository figure {
	width: 40px;
	height: 55px;
	display: inline-block;
}

#github {
	text-decoration: none;
	width: 10px;
}

#github .logo {
	padding: 3px 3px 1px 3px;
	width: 30px;
	height: 30px;
}

#github .title {
	font-size: smaller;
	font-weight: bold;
	color: rgb(86, 128, 233);
	display: inline-block;
}

#technology ul {
	margin: 2%;
}

#technology li a {
	text-decoration: none;
	color: rgb(86, 128, 233);
	font-size: 15px;
}

/* Footer */
footer {
	width: 100%;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.4;
	color:rgb(86, 128, 233);
	padding: 1% 0;
}

footer p {
	width: 120px;
	margin: 0 auto;
}