* {
	margin: 0;
	padding: 0;
	font-family: 'Comfortaa', cursive, Verdana, sans-serif;
	font-size: 13px;
}

/* Header */
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 4.44rem;
	padding: 0 12%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
	font-size: .77rem;
	font-weight: bold;
	position: fixed;
	width: 85%;
}

.header .logo {
	flex-grow: 1;
	color:rgb(86, 128, 233);
}

.header li {
	display: inline;
	padding-right: 2.22rem;
}

.header li a,
.header .logo a,
#playlist {
	text-decoration: none;
	color:rgb(86, 128, 233);
}

/* Section */
section {
	padding: 3%;
	padding-bottom: 2.77rem;
	font-size: 1.5rem;
	line-height: 1.4;
	color:rgb(86, 128, 233);
	padding: 5% 15%;
	height: 50rem;
}

section p {
	padding: 2rem;
	font-size: 1.5rem;
	line-height: 1.4;
}

h2 {
	font-size: 35px;
	font-weight: 600;
	width: 300px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
	padding: 1%;
	color:rgb(86, 128, 233);
}

h3 {
	font-size: 15px;
	font-weight: 600;
	width: 200px;
	padding: 1%;
	color:rgb(86, 128, 233);
}

/* Welcome */
#welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 50rem;
	background-size: cover;
	background-image: linear-gradient(rgb(136, 96, 208), rgb(193, 200, 228),  rgb(132, 206, 235), rgb(86, 128, 233)) ;
	color: #FFFFFF;
}

#welcome h1 {
	padding-top: 1.11rem;
	font-size: 8rem;
	font-weight: 600;
}

/* Music */
#playlist figure img {
	display: flex;
	width: 300px;
	border-radius: 50%;
}

figure {
	width: 300px;
	margin: 0 auto;
}

figcaption {
	width: 100px;
	margin: 6% auto;
	font-weight: bold;
}

/* Art */
#coloring-book {
	text-decoration: none;
}

#coloring-book figure img {
	display: flex;
	width: 200px;
	margin: 0 auto;
}

#coloring-book figure figcaption {
	width: 200px;
	color: rgb(86, 128, 233)
}

/* Footer */
footer {
	width: 100%;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.4;
	color:rgb(86, 128, 233);
	padding: 1% 0;
}

footer p {
	width: 120px;
	margin: 0 auto;
}